@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

/* [epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
} */
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

table{
	margin: 1em;
}

table td{
	border: 0;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

table tfoot th{
	text-align: right;
}

table tfoot td{
	border-bottom: 3px solid;
	border-top: 1px solid;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}
